<html>

<head>
<style>
    img {
        max-width:20%;
        height:auto;
    }
    .centerthis {
        margin-left: auto;
        margin-right: auto;
        width: 120em
    }
</style>
<script>

</script>
</head>

<body>
<h1>Hearthstone Card Listings</h1>
<hr/>
<div class="centerthis">
<table border=5>
    <tr>
        <td>card id</td>
        <td width="20%" height="90%">image</td>
        <td>name</td>
        <td>type</td>
        <td>set</td>
        <td>rarity</td>
        <td>class</td>
        <td>manaCost</td>
    </tr>
    {{range $i, $val := .}}
        {{if lt $i 10}}
        <tr>
            <td>{{$val.Id}}</td>
            <td><img src="{{$val.Image}}" /></td>
            <td>{{$val.Name}}</td>
            <td>{{$val.TypeId}}</td>
            <td>{{$val.FancySet}}</td>
            <td>{{$val.Rarity}}</td>
            <td>{{$val.FancyClass}}</td>
            <td>{{$val.ManaCost}}</td>
        </tr>
            {{end}}
    {{end}}
</table>
</div>
</body>
</html>